saves
logs
crafttweaker.log
crafttweaker.log
*.log
usercache.json
assets
libraries
server-resource-packs
shaderpacks
versions
runtime
usernamecache.json
TlauncherProfiles.json
TempOptifineStore-1.0.json
optionsof.txt
options.txt
usernamecache.json
logs/latest.log
mods/OptiFine-OptiFine-1.12.2_HD_U_G5.jar
usernamecache.json
scripts/.zsrc
options.txt
